<div class="container-fluid anchor pb-5" id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">Say Hello!!👋🏻</h1>
  {{ end }}
  <div class="container d-flex-block">
    <div class="contact-form-container" id="contact-form-container">
          <p>{{.message}}</p> 
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label><input placeholder="Your full name here" type="text" name="name" required="true" /></label>   
          </p>
          <p>
            <label><input placeholder="Your email here" type="email" name="email" required="true" /></label>
          </p>
          <p>
            <label><textarea placeholder="Your message to me here💖" name="message" required="true"></textarea></label>
          </p>
          <p>
            <button type="submit">Send</button>
          </p>
        </form>
    </div>
  </div>
</div>
