<div class="container-fluid anchor pb-5" id="{{ replace (lower .section.name) " " "-" }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  <div class="container d-flex-block">
    <div class="contact-form-container" id="contact-form-container">
        <form name="contact" method="POST" data-netlify="true">
          <p>
            <label><input placeholder="Name" type="text" name="name" /></label>   
          </p>
          <p>
            <label><input placeholder="Email" type="email" name="email" /></label>
          </p>
          <p>
            <label><textarea placeholder="Message" name="message"></textarea></label>
          </p>
          <p>
            <button type="submit">Send</button>
          </p>
        </form>
    </div>
  </div>
</div>